h1, li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(194, 194, 193);
}

header {
    background-color: rgb(7, 7, 69);
    display:flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

#intro{
    width: 60%;
}

#intro h1 {
    padding: 0px 15px 0px;
}

#navbar{
    width:40%;
    padding: 13px 0px 0px;
}

#navbar ul li{
    display: inline;
    padding: 10px;
    font-size: 150%;
}

#hero{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScskoTPAYGmCVkzSm5rJJb3sT7r-kCzqmSDg&usqp=CAU);
    width:100%;
    height: 150px;
    display: flex;
}

.piece {
    background-color: rgb(179, 211, 255);
    max-width: 100%;
    display: flex;
    flex-wrap:wrap ;
    border: 5px;
    border-style: double;
    border-color:rgb(7, 7, 69);
}

.box {
    width: 250px;
    height: 250px;
    border: 5px solid rgb(203, 110, 28);
    margin: 10px;
    background-color: rgb(245, 245, 127);
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 55px;
    color: rgb(194, 194, 193);
}

#work h2 {
    width: 20%;
    text-align: center;
    margin-left: 15px;
    display: flex;
    flex-wrap: nowrap;
}

.example {
    width:80%;
    display: flex;
    flex-wrap: wrap;
}